@CHARSET "UTF-8";
body{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	background: rgb(83,83,83);
}

ul{list-style: none;}

footer{
	margin: 10px auto;
	width: 80%;
	text-align: center;
	border-top: dashed 1px #696b6f;
}

/* ======================
	Page Elements
=========================*/
.btn {
    padding: 10px;
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    background: #104b6b;
    border: solid 1px #072231;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background: #0c3c56;
}

.btn:active {
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    top: 1px;
    background: #082a3c;
}

.lf{float: left;}
.rg{float: right;}

/* ======================
	Game Elements 
=========================*/
.game{
	width: 364px;
	height: 350px;
	margin: 0 auto;
	text-align: center;
}

.game ul{
	position: relative;
	left: -25px;
}

.square{
	width: 100px;
	height: 100px;
	list-style: none;
	border: solid 2px #000;
	float: left;
	text-align: center;
	font-size: 50px;
	border-radius: 10px;
	margin: 2px;
	cursor: pointer;
}

.square div{
	width: 100px;
	height: 100px;
	border-radius: 7px;
	line-height: 100px;
}

.options{
	width: 500px;
	margin: 0 auto;
}

/* Preenchimento de cores */
.success{
	background: #0ae624 !important;
	background: -webkit-linear-gradient(top, #0ae624, #038312) repeat-X !important;
	background: -moz-linear-gradient(top, #0ae624, #038312) repeat-X !important;
	background: -o-linear-gradient(top, #0ae624, #038312) repeat-X !important;
	background: -ms-linear-gradient(top, #0ae624, #038312) repeat-X !important;
	background: linear-gradient(top, #0ae624, #038312) repeat-X !important;
}



.free{
	background: #ffffff;
}