/* base */

	body {
		overflow: hidden;	
	}
	
	input {
		padding-top:0px!important;
		min-height:0px!important;
	    height:20px!important;
	    text-shadow:none!important;
	}
	
	.left {
	    float:left;
	}
	
	.right {
	    float:right; 
	}
	
	.clearFix{
	    clear:both;
	}
	
	#content {
		height:100%;
		width:100%;
	}
	
	.list {
	    height:auto;
	    margin:0px 0px 0px 0px!important;
		padding:0px 8px 50px 6px!important;
		background-color:#545894;
	}
	
	.toggle {
	    background-color:#ccc;
	}
	
	.listItem {
		height:auto!important;
		width:auto;
	    padding:0px 0px 0px 0px!important;
	    margin:2px 0px 2px 0px!important;
	    border-style:none!important;
	    border:none!important;
	   
	    border-bottom-left-radius:5px!important;
	    border-bottom-right-radius:5px!important;
	    border-top-left-radius:5px!important;
	    border-top-right-radius:5px!important;
	    border-radius:5px;
	   
	}
	
	.actionbutton {
		margin-bottom:5px;
	}
	.actionToggle {
		background-color:#96aafd!important;
	}
	
	.openclose {
		position: relative;
		top:-5px!important;
	}
	
	.filterInput {
		padding-bottom:6px!important;
	}
	
	.missingValue {
	    color:red!important;
	    line-height:0em!important;
	    height:17px!important;
	    padding-bottom:0.1em!important;
	    border-style: solid!important;
	    border-width:1px!important;
	   
	
	}
	
	.active {
	    background-color:#00ff00!important;
	    height:22px!important;
	    border-style: solid!important;
	    border-radius: 10px!important;
	
	}
	
	.changed {
	    background-color:#FF9900!important;
	    height:22px!important;
	    border-style: solid!important;
	    border-radius: 10px!important;
	
	}
	
	.error {
	    background-color:#FF0000!important;
	    height:22px!important;
	    border-style: solid!important;
	    border-radius: 10px!important;
	}
	
	#spacing {
		width:60%;
		height:auto;
		margin:0;
		padding-right:2px;
	}
	
	.radio {
		position:relative!important;
		margin-right:3px!important;
		padding:0!important;
		margin-top:0px!important;
		height:14px!important;
		width:14px!important;
	}
	
	.radioLabel {
	    font-size:11px;
	    margin-bottom:3px;
	    padding-top:2px;
	}

/* map */

	#map-page {
		width:100%;
		height:100%;
	}
	
	#map-canvas {
	    width: 100%;
	    height: 100%;
	    position:absolute;
	    top:0;
	    left:0;
	    z-index: 0;
	}
	
	/* navi */
	
	#mapContainer {
	}
	
	.toggleCurrentAgentPosition {
		position: absolute;
		bottom:140px;
		left:10px;
		width:40px;
		height:40px;
		background-color: #545894;
		background-image:url("./images/icons-svg/navigation-white.svg");
		background-repeat:no-repeat;
		background-size: 22px 22px;
		background-position: center; 
		z-index:1;
	}
	
	.toggleCurrentAgentPosition:hover {
		background-color: #7F81B1;
		cursor:pointer;
	}
	
	.toggleSideBar {
		position: absolute;
		bottom:90px;
		left:10px;
		width:40px;
		height:40px;
		background-color: #545894;
		background-image:url("./images/icons-svg/bars-white.svg");
		background-repeat:no-repeat;
		background-size: 22px 22px;
		background-position: center; 
		z-index:1;
	}
	
	.toggleSideBar:hover {
		background-color: #7F81B1;
		cursor:pointer;
	}
	
	.toggleCurrentAgentPositionOneClick {
		background-color: #009900;
	}
	
	.toggleCurrentAgentPositionOneClick:hover {
		background-color: #00cc00;
	}
	
	.toggleCurrentAgentPositionDoubleClick {
		background-color: #990000;
	}
	
	.toggleCurrentAgentPositionDoubleClick:hover {
		background-color: #cc0000;
	}
	
	.loggedinas {
		width:20px;
		height:20px;
		background-color: #7F81B1;
		background-image:url("./images/icons-svg/user-white.svg");
		background-repeat:no-repeat;
		background-size: 22px 22px;
		background-position: center; 
		z-index:1;
	}
	
	.loggedinasnickname {
		
		min-width:10px;
		height:16px;
		z-index:1;
		font-family: "Helvetica", sans-serif;
		font-weight:100;
		font-size:12px;
		background-color:#7F81B1;
		color:#eee;
		padding:3px;
		padding-right:5px;
		border-color:black;
	} 
	
	.loggedincontainer {
	}
	.volumeControl {
		position: absolute;
		bottom: 53px;
		left:35px;
		width:100px!important;
		
	}
	.volumeIcon {
		position: absolute;
		bottom: 55px;
		left:10px;
		width:25px;
		height:25px;
		background-image:url("./images/icons-svg/audio-white.svg");
		background-repeat:no-repeat;
		background-size: 22px 22px;
		background-position: center; 
		
	}
	#footerContainer {
		position:absolute;
		bottom:5px;
		left:10px;
		width:50%;
	}
	.logout {
		min-width:10px;
		height:16px;
		margin-left:5px;
		padding:3px;
		font-family: "Helvetica", sans-serif;
		font-weight:100;
		font-size:12px;
		background-color:#545894;
		color:#eee;
	}
	.logout:hover {
		cursor:pointer;
		color:#fff;
		background-color:#a00;
	}
	
	#naviWrapper {
		height:97%;
	    width:20%;
		min-width:240px;
	}
	#navi_container {
	   	height:97%;
	    width:25%;
		min-width:250px;
		max-width:400px;
	    z-index:1;
	    border-width:1px;
	    border-radius: 10px;
	    position:absolute;
	    top:5px;
	    right:5px;
	    overflow:hidden;
		background-color:#545894!important;
	    text-shadow:none!important;
	    color:#fff!important;
	    opacity: 0.90;
	   
	}
	
	.naviContainerSmall {
		width:0px!important;
		min-width:0px!important;
	}
	#toggleNaviContainer {
		width:5px;
		height:50px;
		position:absolute;
		top:50%;
		right:3px;
		z-index:1;
		border-style:solid;
		border-width:2px;
		border-top-left-radius: 1px;
		border-top-right-radius: 1px;
		color:#c6c4b4;
	}
	
	#toggleNaviContainer:hover {
		color:#f6f5f7;
		cursor:pointer;
	}

/* container */
	.container {
    	position:absolute;
    	top:0;
    	height:100%;
    	background-color:#545894;
	}
	.sectionContainer {
	
		height:30%;
		border-top:solid;
		
		border-width:2px;
		padding-bottom:15px;
		padding-left : 5px;
		border-color:#aaa;
		background-color:#545894;
		overflow:hidden;
	}
	
	.allAboutUserContainer {
	
		height:49%;
		margin-top:5px;
		
		
		border-width:2px;
		padding-bottom:40px;
		padding-left : 5px;
		border-color:#aaa;
		background-color:#545894;
		overflow:hidden;
	}
	.allAboutRegionContainer {
	
		height:30%;
		
		margin-top:5px;
		
	
		border-width:2px;
		padding-bottom:40px;
		
		padding-left : 5px;
		border-color:#aaa;
		background-color:#545894;
		overflow:hidden;
	}
	
	.allAboutSoundActionContainer {
	
		height:34%;
		margin-top:5px;
		
	
		border-width:2px;
		padding-bottom:40px;
		padding-left : 5px;
		border-color:#aaa;
		background-color:#545894;
		overflow:hidden;
	}

	
	.listContainer {
		height:85%;
		margin:0px 0px 0px 0px;
		
		overflow:scroll;
		background-color:#545894;
		overflow:scroll-y;
		
	}
	
	.containerTitle {
		width:30%;
		font-size:14px;
		margin:0px 0px 0px 5px;
	}

	.searchContainer{
    	width:70%;
    	margin-left:3px;
    	margin-top:3px;
	}

	.subContainerTitel {
		font-size: 13px;
		font-weight:bold;
		margin:5px 0px 5px 0px;
	}
	
	.headerContainer {
		margin-top:5px;
		padding-top:5px;
		border-top:solid;
		border-width:1px;
		border-color:#aaa;
		
	}

	.optionsContainer {
		margin:5px 5px 5px 5px;
    	width:auto;
    	height:30px;
	}

	.spacingContainer {
		width:auto;
		margin:5px 3px 10px 0px;
		height:auto;
	}

	.controlContainer {
    	width:20%;
    	margin-right:3px;
    	margin-top:3px;
	}

	
	.listContainer::-webkit-scrollbar {
 		display: none;
	}
	
	.infoLeft {
		word-wrap: break-word;
		max-width: 38%;
		margin-left:5px;
		margin-top:2px;
		margin-bottom:2px;
	}
	
	.infoRight {
		word-wrap: break-word;
		max-width: 60%;
		margin-right:7px;
		margin-top:2px;
		margin-bottom:2px;
		font-weight:bold;
	}
	
	.editRight {
		max-width: 100%;
		margin-right:7px;
		margin-top:2px;
		margin-bottom:2px;
	}

	.createEntityContainer{
		height:100%;
		
		width:auto;
		overflow:scroll;
		margin:5px 0px 5px 5px;
		padding:0px 5px 5px 0px;
		border-bottom:solid;
    	border-width:1px;
    	border-color:#aaa;
	}
	
/* label */
	.label {
    	font-size:11px!important;
    	font-weight:600!important;
    	height:auto!important;
    	padding:3px 3px 3px 3px!important;
    	margin:1px 1px 1px 5px!important;
    	text-shadow:none!important;
    	text-align: left;
    	
	}

	.inputLabel {
		font-size:10px!important;
		padding-top:3px;
		padding-left:5px;
		color:#aaa;
		text-shadow:none!important;
	}

	.label::after {
		height:10px!important;
		width:10px!important;
		top:15px!important;
    	padding-top:1px!important;
    	padding-bottom:1px!important;
	}

/* player */
	
	.infoStripesOdd {
		background-color : #eee;
		line-height:13px!important;
	}
	
	.infoStripesEven {
		background-color : #ccc;
		line-height:13px;
	}
	
	#allPlayersCheck{
    	margin:5px 0px 0px 0px;
	}
	
/* generic */	
	.editEntity {
		width:auto;
    	height:auto;
    	margin-bottom:35px;
    	
    	font-size:10px;
    	margin:0px 0px 0px 0px;
    	padding:0px 0px 0px 0px;
    	border-radius:5px!important;
    	font-size:11px;
    	overflow:hidden;
	}
	
	.entityInfo {
		width:auto;
    	height:auto;
    	padding:0px 0px 0px 0px!important;
    	margin:0px 0px 5px 0px!important;
    	background-color:#cddc85;
    	color:#111;
    	font-size:11px;
    	border-radius:5px!important;
    	overflow:hidden;
	}
	
	.entityCropped {
		width:auto;
    	height:100px;
    	overflow:hidden;
	}
	
	.slider{
		height:24px;
		margin-right:10px!important;
		
		padding:0!important;
	}
	
	.cancelSubmit {
		margin-top:0px;
		margin-bottom:5px;
	}
	
/* polygons */

	.infoLabel {
	    border-radius:0px;
	    height: 80px;
	    width: 220px;
	    opacity: 0.8;
	    background-color: #eeeeee;
	    border-radius: 0px;
	}
	
	#newTerritoryinfo {
	    font-family: "Courier", sans-serif;
	    width: auto;
	    min-width:150px;
	    max-width:300px;
	    overflow: hidden;
	    height: auto;
	    padding:0;
	    opacity:0.95;
	    background-color:#7F81B1;
	    
	    color:#eee;
	    font-size:13px;
	    font-weight:light;
	    text-shadow: none;
	    border-radius : 10px;
	   
	}
	
	#territoryEditWindow {
	    font-family: "Courier", sans-serif;
	    font-size:13px;
	    color:#eee;
	    padding-bottom:10px;
	    width: 310px;
	    
	    height: auto;
	    text-shadow:none;
	    background-color: #545894;
	    border-radius : 10px;
	   
	}
	
	.editTerritoryLabel{
	    font-family: "Courier", sans-serif;
	    text-shadow : none;
	    font-size:13px!important;
	    width : 110px!important;
	    height : 14px!important;
	    margin-right:7px!important;
	    padding-left:5px;
	   
	    
	}
	
	#closeTerritoryEdit {
	    cursor: pointer;
	}
	
	.editBoxSelect {
		height:15px!important;
	    line-height:20px!important;
	    width:145px;
	    font-size:11px!important;
	    margin-top:3px;
	
	}
	
	.editBoxCheckbox {
		position: relative;
		
		margin-top:1px;
		margin-right:7px;
		padding-left:1px;
	}
	
	.infoBoxTextInput{
	    height:12px!important;
	    line-height:12px!important;
	    width:140px!important;
	    font-size:12px!important;
	    margin-top:3px;
	    margin-bottom:5px;
	   
	}
	
	.infoBoxSelect{
	    height:12px!important;
	    line-height:10px!important;
	    width:145px;
	    font-size:10px!important;
	    
	}
	
	.infoBoxContent {
		
		word-wrap: break-word;
		max-width: 60%;
		margin-right:7px;
		margin-left:-3px;
		margin-bottom:5px;
		font-weight:bold;
	
	}
	
	.infoBoxSlider {
	    font-family: "Courier", sans-serif;
	    font-size:12px!important;
	    height:14px!important;
	}
	
	#statusInfo { 
		position: absolute; 
		top: 10px; 
		left: 145px; 
		z-index: 0;
		width:auto;
		height:30px;
		border-radius: 5px; 
	}
	
	#statusInfoText {
		font-size:14px;
		font-style:normal;
		text-shadow:none!important;
		line-height: 30px;
		text-align: center;
		vertical-align: middle;
		margin-left:10px;
		margin-right:10px;
	}
	
/*infoBoxes*/

	.regionMapInfoBoxtrue {
		background-color:#fff987;
		opacity:0.7;
		border-radius: 5px;
		padding: 3px;
		
	}
	
	.infoRowOdd{
		
		background-color:#7F81B1;
		padding-left:5px;
		padding-right:5px;
		padding-top:3px;
		padding-bottom:3px;
	}
	.infoRowEven {
		background-color:#545894;
		padding-left:5px;
		padding-right:5px;
		padding-top:3px;
		padding-bottom:3px;
	}
	
	
	.editRowOdd{
		padding-top:3px;
		background-color:#545894;
	
		
	}
	.editRowEven {
		padding-top:3px;
		background-color:#7F81B1;
		
	}
	
	
	.territoryInfoLabel {
		font-weight:bold;
	}
	
	.regionMapInfoBoxfalse {
		background-color:#9fb1f4;
		opacity:0.9;
		border-radius: 5px;
		padding:2px 1px 2px 3px;
		
	}
	.regionMapLabel {
		font-family:"Helvetica", sans-serif;
		font-size:14px;
		font-weight:100;
		color:white;
	}
	
	.soundActionDuration {
		width:30px!important;
		overflow:hidden!important;
		
	}
	
	.markerLabels {
		font-size:10px;
		font-color:#fff;
	}
	
/* game */

	#gameDialog{
    right: 0 !important;        
    left: auto !important;
    width: 80%;
}

#positionWindow {
	z-index:1;
}

	


