/* ui */

    .standardDialog {
        margin:0!important;
        padding:0!important;
    }

	.ui-input-search {
    	font-size:12px;
    	height:14px!important;
    	margin:0;
        font-size:10px!important;
    	padding-top:3px!important;
        padding-bottom:4px!important;
        -webkit-box-shadow:none!important;
        text-shadow:none!important;
	}

	.ui-shadow-inset {
			
	}
	
	.ui-input-text {
    	font-size:10px!important;
    	height:12px!important;
        padding-bottom:3px!important;
    	margin:4px 5px 4px 0px!important;
    	padding-top:0px!important;
    	width:60%!important;
    	float:right;
	}

	.ui-radio {
		margin:0px 7px 0px 0px!important;
	}

	.ui-checkbox {
    	margin:1px 1px 1px 1px!important;
	}
	
	.ui-btn-icon-left:after{
    	left:0!important;
	}
	.ui-btn {
    	font-size:1px;
    	line-height:22px;
    	
	}
	.ui-select {
		width:60.5%!important;
		font-size:10px!important;
		padding-bottom:3px!important;
		margin:4px 5px 8px 0px!important;
		float:right;
		height:12px!important;
	}


	.ui-input-btn{
    	height:22px!important;
    	width:22px!important;
    	float:right;
    	padding:1px 1px 1px 1px!important;
    	margin:0!important;
    	
    	border:none!important;
    	background:none!important;
    	webkit-box-shadow:none!important;
    	box-shadow:none!important;
	}
	.ui-btn.ui-input-clear {
    	top:79%!important;
    	right:2%!important;
    	height:16px!important;
    	width:16px!important;
	}
	
	#deleteRegion.ui-input-btn {
    	height:22px!important;
    	width:100px!important;
	}
	

	div.ui-slider-switch.ui-mini {
		height:16px!important;
		padding:0!important;
		width:100px!important;
		margin-top: 0px!important;
		margin-left: 5px!important;
		background-color:#a5e18f!important;
		-webkit-box-shadow:none;
	}

	.ui-slider-switch.ui-mini .ui-slider-handle {
		height:12px!important;
		margin-top:1px!important;
	}
	.ui-btn-active {
		background-color:#819cfe!important;
		text-shadow:none!important;
	}
	
	.ui-btn-active {
		height:15px!important;
	}
	
	.ui-slider-label {
		font-size: 9px!important;
		line-height: 15px!important;
		
	}

	.ui-btn-icon-left:hover:after{
		background-color:#777!important;
	}
	.ui-input-btn input {
		opacity:0.2;
	}
	
	.ui-mini {
		font-size:11px!important;
	}
	
	.ui-icon-playAction {
		background-image: url("../resources/icons/play-button.svg")!important;
	}
	
